SchemaNode/bin
SchemaNode/obj
/.idea
/.vs
/.idea
/SchemaNodeExample/bin
/SchemaNodeExample/obj
/.idea
SchemaNodeExample/.DS_Store
SchemaNode.MySql/.DS_Store
/SchemaNode.MySql/obj
/SchemaNode.MySql/bin
.DS_Store
SchemaNode.sln.DotSettings.user
/SchemaNode.Example/bin
/SchemaNode.Example/obj
/SchemaNode.Kafka/obj
/SchemaNode.RabbitMQ/obj
/SchemaNode.RabbitMQ/bin
/SchemaNode.Kafka/bin
/SchemaNode.McpHost/bin
/SchemaNode.McpHost/obj
/SchemaNode.Excel/obj
/SchemaNode.Excel/bin
/SchemaNode.UnitTest/obj
/SchemaNode.UnitTest/bin
SchemaNode.Example/SchemaNode.Example.csproj.user
